body{
    --titleFontSize: 2.25em;
    --headerHeight: 100px;

    --colorGray: #dfddc7;
    --colorYellow: #ffe066;
    --colorRed: #f58b54;
    --colorBrown: #a34a28;
    --colorBlack: #211717;
    margin: 0;

    background-color: var(--colorGray);
    display: flex;
    flex-direction: column;
}

.header{
    background-color: var(--colorYellow);
    text-align: center;
    vertical-align: center;
    width: 100%;
    font-size: var(--titleFontSize);
    height: var(--headerHeight);
    line-height: 100px;
}

.content{
    height: calc(100vh - var(--headerHeight));
}
/*//////////////////////////////////////////////////*/
/*General*/
.email-container,.password-container,.username-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.emailInput,.passwordInput{
    font-size: 25px;
    border-style:solid;
    background-color: white;
    border-width: 1px;
}
.emailShow,.passwordShow,.usernameShow{
    font-size: 25px;
    border-style:solid;
    background-color: white;
    border-width: 1px;
}
/* .email,.password,.username{
    font-size: 28px;
    background-color: lightgoldenrodyellow;
} */
.emailLabel,.passwordLabel,.usernameLabel{
    font-size: 36px;
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*Login*/

.logSubBtn{
    color:white;
    background-color: limegreen;
    font-size: 16px;
    width:100px;
    height:30px;
    border-radius: 10px;
    border:0px;

}
.logSubBtn:hover{
    background-color: #29bc29;
}

.logCancelBtn{
    color:white;
    background-color: #dc3b3b;
    font-size: 16px;
    width:100px;
    height:30px;
    border-radius: 10px;
    border:0px;


}
.logCancelBtn:hover{
    background-color: #cc2c2c;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.loginFields{
    width: 500px;
    height:300px;
    padding:5%;
    padding-top:1%;
    margin:6%;
    border-radius: 10px;
    margin-top:10%;
    background-color: lightgoldenrodyellow;
}
.loginFields > h1{
    text-align: center;
    background-color: lightgoldenrodyellow;
}
/*//////////////////////////////////////////////////*/

/*Register*/
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:5%;
    background-color: lightgoldenrodyellow;

}
.regSubBtn{
    color:white;
    background-color: limegreen;
    font-size: 16px;
    width:100px;
    height:30px;
    border-radius: 10px;
    border:0px;

}
.regSubBtn:hover{
    background-color: #29bc29;
}

.regCancelBtn{
    color:white;
    background-color: #dc3b3b;
    font-size: 16px;
    width:100px;
    height:30px;
    border-radius: 10px;
    border:0px;


}
.regCancelBtn:hover{
    background-color: #cc2c2c;
}

.register{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.regFields{
    width: 500px;
    height:300px;
    padding:5%;
    padding-top:1%;
    margin:6%;
    border-radius: 10px;
    margin-top:10%;
    background-color: lightgoldenrodyellow;
}
.regFields > h1{
    text-align: center;
    background-color: lightgoldenrodyellow;
}

/*///////////////////////////////////////////////////////////////*/
/*MyProfile*/

.profEdBtn{
    color:white;
    background-color: limegreen;
    font-size: 16px;
    width:100px;
    height:30px;
    border-radius: 10px;
    border:0px;

}
.profEdBtn:hover{
    background-color: #29bc29;
}
.myProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.profileFields{
    width: 500px;
    height:300px;
    padding:5%;
    padding-top:1%;
    margin:6%;
    border-radius: 10px;
    margin-top:10%;
    background-color: lightgoldenrodyellow;
}
.profileFields > h1{
    text-align: center;
    background-color: lightgoldenrodyellow;
}
/*///////////////////////////////////////////////////////////////*/
.logoutFields{
    width: 500px;
    height:300px;
    padding:5%;
    padding-top:1%;
    margin:6%;
    border-radius: 10px;
    margin-top:10%;
    background-color: lightgoldenrodyellow;
}
.closeLogoutModal{
    background-color: none;
}
.logoutModalContent > p{
    text-align: center;
    background-color: lightgoldenrodyellow;
}