body{
    --titleFontSize: 2.25em;
    --headerHeight: 100px;

    --colorGray: #dfddc7;
    --colorYellow: #ffe066;
    --colorRed: #f58b54;
    --colorBrown: #a34a28;
    --colorBlack: #211717;
    margin: 0;

    background-color: var(--colorGray);
    display: flex;
    flex-direction: column;
}

.header{
    background-color: var(--colorYellow);
    text-align: center;
    vertical-align: center;
    width: 100%;
    font-size: var(--titleFontSize);
    height: var(--headerHeight);
    line-height: 100px;
}

.content{
    height: calc(100vh - var(--headerHeight));
}